body {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    place-content: center;
}

.winner {
    font-size: 48px;
    text-align: center;
}

.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-row: 2/3;
    border: 5px black solid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.board button {
    box-sizing: border-box;
    border: 5px black solid;
    width: 100px;
    height: 100px;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
}